<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>479623950</real>
		<key>sheetClusters</key>
		<dict>
			<key>Вкусные книги 027 — Чудаки на букву М [ мотивация ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 028 — Scrum [ продуктивность ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 029 — Корпорация гениев [ промышленность ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 030 — Шуттовская рота [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 031 — Дорога славы [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 032 — Проект «Ватикан» [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 033 — Стивен Кинг [ мотивация ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 034 — Как стать гением- [ любопытство ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 035 — Исповедь экономического убийцы [ промышленность ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 036 — Кратчайшая история времени [ любопытство ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 037 — Алгебраист [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 038 — On Writing Well [ профи ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 039 — Одд и ледяные великаны [ дети ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 040 — Дышите свободно [ психология ].md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 041 — Теория игр [ любопытство ].md</key>
			<dict>
				<key>lastModification</key>
				<real>481041745.499547</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Вкусные книги 042 — Автостопом по галактике [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>485434563.926691</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Вкусные книги 042 — Автостопом по галактике [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 041 — Теория игр [ любопытство ].md</string>
		</array>
		<array>
			<string>Вкусные книги 040 — Дышите свободно [ психология ].md</string>
		</array>
		<array>
			<string>Вкусные книги 039 — Одд и ледяные великаны [ дети ].md</string>
		</array>
		<array>
			<string>Вкусные книги 038 — On Writing Well [ профи ].md</string>
		</array>
		<array>
			<string>Вкусные книги 037 — Алгебраист [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 036 — Кратчайшая история времени [ любопытство ].md</string>
		</array>
		<array>
			<string>Вкусные книги 035 — Исповедь экономического убийцы [ промышленность ].md</string>
		</array>
		<array>
			<string>Вкусные книги 034 — Как стать гением- [ любопытство ].md</string>
		</array>
		<array>
			<string>Вкусные книги 033 — Стивен Кинг [ мотивация ].md</string>
		</array>
		<array>
			<string>Вкусные книги 032 — Проект «Ватикан» [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 031 — Дорога славы [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 030 — Шуттовская рота [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 027 — Чудаки на букву М [ мотивация ].md</string>
		</array>
		<array>
			<string>Вкусные книги 028 — Scrum [ продуктивность ].md</string>
		</array>
		<array>
			<string>Вкусные книги 029 — Корпорация гениев [ промышленность ].md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
