<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>479623950</real>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>516868297.93655503</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>241</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>514189600.075059</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>230</integer>
				</dict>
			</dict>
			<key>new!!!.md</key>
			<dict>
				<key>lastModification</key>
				<real>479623950</real>
				<key>version</key>
				<dict>
					<key>legacy-479623950.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Вкусные книги 000 — Открывая организации будущего [ стартап ].md</key>
			<dict>
				<key>lastModification</key>
				<real>512918611.21468902</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>222</integer>
				</dict>
			</dict>
			<key>Вкусные книги 065 — История упадка и разрушения Великой Римской империи [ любопытство ].md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>519188104.45248801</real>
				<key>lastModification</key>
				<real>519188104.45248801</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>262</integer>
				</dict>
			</dict>
			<key>Деминг.md</key>
			<dict>
				<key>lastModification</key>
				<real>483423522.28983003</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>Хочу.md</key>
			<dict>
				<key>lastModification</key>
				<real>483423522.28969997</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>Вкусные книги 065 — История упадка и разрушения Великой Римской империи [ любопытство ].md</string>
		</array>
		<array>
			<string>Вкусные книги 000 — Открывая организации будущего [ стартап ].md</string>
		</array>
		<array>
			<string>Деминг.md</string>
		</array>
		<array>
			<string>Хочу.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>new!!!.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>262</integer>
		</dict>
	</dict>
</dict>
</plist>
