<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>479120465</real>
		<key>sheetClusters</key>
		<dict>
			<key>Вкусные книги 043 — Сумма технологии [ любопытство ].md</key>
			<dict>
				<key>lastModification</key>
				<real>483423531.48422498</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Вкусные книги 044 — Поток [ психология ].md</key>
			<dict>
				<key>lastModification</key>
				<real>485434543.85012001</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Вкусные книги 045 — Без жалости к себе [ психология ].md</key>
			<dict>
				<key>lastModification</key>
				<real>487063457.74852997</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Вкусные книги 046 — Дверь в лето [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>488000618.22476602</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>Вкусные книги 047 — Руководство фасилитатора [ психология ].md</key>
			<dict>
				<key>lastModification</key>
				<real>491990428.18253702</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Вкусные книги 048 — Эмоциональный интеллект [ мотивация ].md</key>
			<dict>
				<key>lastModification</key>
				<real>491990428.18268698</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>Вкусные книги 049 — Человек в высоком замке [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>493484337.15192997</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>Вкусные книги 050 — Звездная пыль [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>493877069.99874401</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Вкусные книги 051 — Здесь могут водиться тигры [ фантастика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>496847190.54212302</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>Вкусные книги 052 — Бизнес как игра [ стартап ].md</key>
			<dict>
				<key>lastModification</key>
				<real>496850479.98383999</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>Вкусные книги 053 — Как стать успешным художником [ удаленная работа ].md</key>
			<dict>
				<key>lastModification</key>
				<real>499011773.47473401</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>Вкусные книги 054 — JavaScript для детей [ программирование ].md</key>
			<dict>
				<key>lastModification</key>
				<real>507100414.861871</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>Вкусные книги 055 — Карманная книжка для приезжающих на зиму в Москву [ чтиво ].md</key>
			<dict>
				<key>lastModification</key>
				<real>500795758.22694898</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>Вкусные книги 056 — Лесница в небо [ политика ].md</key>
			<dict>
				<key>lastModification</key>
				<real>507726176.314062</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>Вкусные книги 057 — Три в одном [ дети ].md</key>
			<dict>
				<key>lastModification</key>
				<real>507726176.31418103</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>Вкусные книги 058 — Вечно уставший [ здоровье ].md</key>
			<dict>
				<key>lastModification</key>
				<real>507788342.87164003</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>Вкусные книги 059 — Технология творческого мышления [ любопытство ].md</key>
			<dict>
				<key>lastModification</key>
				<real>510475387.41615999</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>Вкусные книги 060 — Революция внимания [ здоровье ].md</key>
			<dict>
				<key>lastModification</key>
				<real>511545549.37031698</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>Вкусные книги 061 — Джедайские техники [ продуктивность ].md</key>
			<dict>
				<key>lastModification</key>
				<real>512963968.33716702</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>Вкусные книги 062 — Джони Айв [ apple ].md</key>
			<dict>
				<key>lastModification</key>
				<real>515408444.07024401</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>Вкусные книги 063 — Стартап по Кавасаки [ стартап ].md</key>
			<dict>
				<key>lastModification</key>
				<real>517714803.52622598</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>Вкусные книги 064 — Автор, ножницы, бумага [ профи ].md</key>
			<dict>
				<key>lastModification</key>
				<real>517714803.526452</real>
				<key>version</key>
				<dict>
					<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
					<integer>53</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Вкусные книги 064 — Автор, ножницы, бумага [ профи ].md</string>
		</array>
		<array>
			<string>Вкусные книги 063 — Стартап по Кавасаки [ стартап ].md</string>
		</array>
		<array>
			<string>Вкусные книги 062 — Джони Айв [ apple ].md</string>
		</array>
		<array>
			<string>Вкусные книги 061 — Джедайские техники [ продуктивность ].md</string>
		</array>
		<array>
			<string>Вкусные книги 060 — Революция внимания [ здоровье ].md</string>
		</array>
		<array>
			<string>Вкусные книги 059 — Технология творческого мышления [ любопытство ].md</string>
		</array>
		<array>
			<string>Вкусные книги 058 — Вечно уставший [ здоровье ].md</string>
		</array>
		<array>
			<string>Вкусные книги 057 — Три в одном [ дети ].md</string>
		</array>
		<array>
			<string>Вкусные книги 056 — Лесница в небо [ политика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 055 — Карманная книжка для приезжающих на зиму в Москву [ чтиво ].md</string>
		</array>
		<array>
			<string>Вкусные книги 053 — Как стать успешным художником [ удаленная работа ].md</string>
		</array>
		<array>
			<string>Вкусные книги 054 — JavaScript для детей [ программирование ].md</string>
		</array>
		<array>
			<string>Вкусные книги 052 — Бизнес как игра [ стартап ].md</string>
		</array>
		<array>
			<string>Вкусные книги 051 — Здесь могут водиться тигры [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 050 — Звездная пыль [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 049 — Человек в высоком замке [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 048 — Эмоциональный интеллект [ мотивация ].md</string>
		</array>
		<array>
			<string>Вкусные книги 047 — Руководство фасилитатора [ психология ].md</string>
		</array>
		<array>
			<string>Вкусные книги 046 — Дверь в лето [ фантастика ].md</string>
		</array>
		<array>
			<string>Вкусные книги 045 — Без жалости к себе [ психология ].md</string>
		</array>
		<array>
			<string>Вкусные книги 044 — Поток [ психология ].md</string>
		</array>
		<array>
			<string>Вкусные книги 043 — Сумма технологии [ любопытство ].md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>c2373fda572444a3bfdd349ae671da58a88e36ec249acad0fd78a976b7087204</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>
